{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="manifest" href="{% static 'manifest.json' %}" />
    <title>Bug Tracker</title>
    <!-- Reference CSS from the build -->
    <link href="{% static 'build/static/css/main.css' %}" rel="stylesheet">
  </head>
  <body>
    <div id="root"></div>
    <!-- Reference JS from the build -->
    <script src="{% static 'build/static/js/main.js' %}"></script>
  </body>
</html>